.NavLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font;
    color: white;
    background: black;
    position: fixed;
    left: 0;
    height: 100%;
    width: 50px;

    @include media-breakpoint(md){
        width: 110px;
    }

    nav {
        margin-top: auto;
        margin-bottom: auto;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                cursor: pointer;
                margin-bottom: 25%;
                transition: all 0.55s;

                img {
                    width: 30px;
                    border-radius: 2px;

                    @include media-breakpoint(md){
                        width: 65px;
                    }
                }

                &:hover {
                    transform: scale(0.9);
                }
            }
        }
    }

    p {
        font-size: 8.5px;
        transform: rotate(270deg);
        width: max-content;
        position: absolute;
        bottom: 9em;
    }
}
