body {
    background: white;
    position: relative;
    margin: 0;
    padding: 0;

    &:after {
        content: "xs - 100% (0 \2933 575)";
        display: block;
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 999999;
        background: black;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        padding: 10px;
        @include media-breakpoint(sm) {
            content: "sm - 540px (576 \2933 767)";
        }
        @include media-breakpoint(md) {
            content: "md - 720px (768 \2933 1279)";
        }
        @include media-breakpoint(lg) {
            content: "lg - 1250px (1280 \2933 1379)";
        }
        @include media-breakpoint(xl) {
            content: "xl - 1350px (1280 \2933 \221E)";
        }
        @include media-breakpoint(xxl) {
            content: "xxl";
        }
    }
}

.homepage {

    @include media-breakpoint-max(lg){
        margin-bottom: 20px;
    }

    @include media-breakpoint(lg){
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(9, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }


    @include media-breakpoint(xl){
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 200px);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }




    .intro_infos {

        @include media-breakpoint-max(lg){
            margin-bottom: 20px;
        }

        @include media-breakpoint(lg) {
            grid-area: 1 / 1 / 2 / 5;
        }

        @include media-breakpoint(xl) {
            grid-area: 1 / 1 / 2 / 5;
        }

        h2{
            margin: 20px 0;

            span{
                margin: 0 10px;
                color: $color-main;
            }
        }

        p{
            margin: 30px 0;
            position: relative;
        }
    }

    .UserActivity {

        @include media-breakpoint-max(lg){
            margin-bottom: 20px;
        }

        @include media-breakpoint(lg) {
            grid-area: 2 / 1 / 4 / 5;
            height: 100%;
        }

        @include media-breakpoint(xl) {
            grid-area: 2/1/4/4;
        }


        width: 100%;
        height: 200px;
        padding: 80px 20px 20px 20px;
        margin: 0;
        position: relative;
        background: #fbfbfb;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;

        .legendActivity{
            position: absolute;
            top: 0;
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 100%;

            h4{
                margin: 20px 0;
            }

            ul{
                display: flex;
                justify-content: flex-end;
                width: 50%;
                margin: 20px 45px;

                li{
                    position: relative;
                    font-size: 18px;

                    @include media-breakpoint(lg){
                        font-size: 25px;
                    }

                    &:first-child{
                        &::before{
                            content: "";
                            width: 10px;
                            height: 10px;
                            background: black;
                            border-radius: 50%;
                            position: absolute;
                            top: 8px;
                            left: -20px;

                            @include media-breakpoint(lg){
                                top: 15px;
                            }
                        }
                    }

                    &:last-child{
                        margin: 0 0 0 50px;

                        &::before{
                            content: "";
                            width: 10px;
                            height: 10px;
                            background: $color-main;
                            border-radius: 50%;
                            position: absolute;
                            top: 8px;
                            left: -20px;

                            @include media-breakpoint(lg){
                                top: 15px;
                            }
                        }
                    }
                }
            }
        }

        .recharts-responsive-container{
            width: 100% !important;
            height: 100% !important;

            .recharts-tooltip-wrapper{

                .custom-tooltipActivity {
                    width: 80px;
                    height: 50px;
                    padding: 10px;
                    background: $color-main;
                    color: white;
                    font-weight: 500;
                    @include font-size(.8);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                }
            }

            .recharts-cartesian-grid-horizontal > line:nth-of-type(1) {
                stroke: rgb(0 0 0);
                stroke-dasharray: 99999;
            }

            .recharts-cartesian-grid-vertical {
                display: none;
            }
        }

    }

    .UserSession {

        @include media-breakpoint-max(lg){
            margin-bottom: 20px;
        }

        @include media-breakpoint(lg) {
            grid-area: 4 / 1 / 6 / 5;
            height: 100%;
        }

        @include media-breakpoint(xl) {
            grid-area: 4 / 1 / 6 / 2;
        }

        margin: 0;
        width: 100%;
        height: 200px;
        position: relative;
        background: $color-main;
        border-radius: 5px;
        padding: 20px;

        h4{
            font-size: 20px;
            width: 60%;
            color: white;
            margin: 0 0 0 50px;
        }

        .recharts-responsive-container{
            width: 100% !important;
            height: 80% !important;
        }

        .custom-tooltipSession {
            background-color: white;
            color: black;
            width: 55px;
            height: 5px;
            font-weight: 500;
            padding: 15px 0;
            font-size: 13px;
            line-height: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }

    .UserPerform {

        @include media-breakpoint-max(lg){
            margin-bottom: 20px;
        }

        @include media-breakpoint(lg) {
            grid-area: 6 / 1 / 8 / 3;
            height: 100%;
        }

        @include media-breakpoint(xl) {
            grid-area: 4 / 2 / 6 / 3;
        }

        margin: 0;
        width: 100%;
        height: 200px;
        position: relative;
        background: #282d30;
        border-radius: 5px;
        padding: 20px;
    }

    .UserScore {

        @include media-breakpoint-max(lg){
            margin-bottom: 20px;
        }

        @include media-breakpoint(lg) {
            grid-area: 6 / 3 / 8 / 5;
            height: 100%;
        }

        @include media-breakpoint(xl) {
            grid-area: 4 / 3 / 6 / 4;
        }

        margin: 0;
        width: 100%;
        height: 200px;
        position: relative;
        background: #fbfbfb;
        border-radius: 5px;
        padding: 20px;

        .recharts-surface{
            transform: rotate(28deg);
        }

        h4{
            position: absolute;
            font-size: 16px;

            @include media-breakpoint(md){
                font-size: 23px;
            }
        }

        p{
            position: absolute;
            width: 110px;
            height: auto;
            margin: 0;
            padding: 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            font-size: 24px;
            font-weight: 400;
            line-height: 25px;

            span{
                font-size: 30px;
                font-weight: bold;
            }
        }
    }

    .UserCard {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        background: #fbfbfb;

        .dataKey{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 30px;

            img{
                width: 80px;
                height: 80px;
            }

            p{
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-wrap: wrap;
                flex-direction: column;
                margin: 0 70px;

                .value{
                    font-size: 30px;
                    font-weight: bold;
                    text-align: left;
                }

                .element{
                    font-weight: 400;
                    font-size: 15px;
                    color: grey;
                    text-align: left;
                }
            }
        }


        &:nth-of-type(5) {

            @include media-breakpoint-max(lg){
                margin-bottom: 20px;
            }

            @include media-breakpoint(lg) {
                grid-area: 8 / 1 / 9 / 3;
            }

            @include media-breakpoint(xl) {
                grid-area: 2 / 4 / 3 / 5;
            }
        }

        &:nth-of-type(2) {

            @include media-breakpoint-max(lg){
                margin-bottom: 20px;
            }

            @include media-breakpoint(lg) {
                grid-area: 8 / 3 / 9 / 5;
            }

            @include media-breakpoint(xl) {
                grid-area: 3 / 4 / 4 / 5;
            }
        }

        &:nth-of-type(3) {

            @include media-breakpoint-max(lg){
                margin-bottom: 20px;
            }

            @include media-breakpoint(lg) {
                grid-area: 9 / 1 / 10 / 3;
            }

            @include media-breakpoint(xl) {
                grid-area: 4 / 4 / 5 / 5;
            }
        }

        &:nth-of-type(4) {

            @include media-breakpoint-max(lg){
                margin-bottom: 20px;
            }

            @include media-breakpoint(lg) {
                grid-area: 9 / 3 / 10 / 5;
            }

            @include media-breakpoint(xl) {
                grid-area: 5 / 4 / 6 / 5;
            }
        }
    }



    .recharts-cartesian-axis-tick-value > tspan {
        @include font-size(1);
    }

    .recharts-cartesian-axis-line {
        stroke: #dedede;
    }

    .recharts-yAxis > line {
        display: none;
    }

    .recharts-xAxis > line {
        display: none;
    }

    .recharts-cartesian-axis-tick-line {
        display: none;
    }

    .recharts-line-dots > circle {
        display: none;
    }

    .recharts-line-curve {
        stroke: #ffffffd7;
        stroke-width: 2;
    }

    .recharts-polar-angle-axis-tick-value {
        font-size: 10px;
        fill: white;
    }

    .recharts-polar-grid-angle {
        display: none;
    }

    .loadingState{
        color: white;
    }
}

.DashboardError {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../assets/error.png");
    z-index: 1;
    & > p {
        font-family: $font;
        font-weight: bold;
        font-size: 20px;
        color: white;
        background: #e15c64;
        border: 5px solid #323232;
        border-radius: 6.5px;
        padding: 0.7em;
        margin-top: -0.5em;
    }
}


