.App {
    font-family: $font;
    font-weight: 400;
    @include font-size(1.6);
    color: black;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    background: #fff;
    display: grid;
    grid-template-columns: 0.15fr repeat(3, 1fr);
    grid-template-rows: 0.2fr repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    header {
        grid-area: 1 / 1 / 2 / 5;
    }

    .aside {
        grid-area: 2 / 1 / 5 / 2;
    }
    .main_body {
        grid-area: 2 / 2 / 5 / 5;
        padding: 0 20px 0 40px;
        height: 100%;
        margin: 20px auto;
        width: 100%;

        @include media-breakpoint(md){
            width: calc(100% - 100px);
            padding: 0 0px 0 40px;
        }
    }
}