header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background: black;
    padding: 0;
    z-index: 999;

    @include media-breakpoint(md){
        padding: 0 110px;
    }

    h1 {
        width: 25%;
        height: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            margin: 0 0 0 5px;
            object-fit: cover;

            @include media-breakpoint(md){
                height: 3rem;
                margin: 20px 0;
            }
        }
    }

    nav {
        width: 100%;
        height: 100%;

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            li {
                width: 25%;
                text-align: center;

                a {
                    color: white;
                    font-weight: 400;
                    @include font-size(.8);

                    @include media-breakpoint(md){
                        @include font-size(1.6);
                    }
                }
            }
        }
    }
}
