// Customs mixins
//
@mixin media-breakpoint($breakpoint, $breakpoints: $grid-breakpoints) {
    // If the key exists in the map
    @if map-has-key($breakpoints, $breakpoint) {
        // Prints a media query based on the value
        @media (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }

    // If the key doesn't exist in the map
    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
}

@mixin media-breakpoint-max($breakpoint, $breakpoints: $grid-breakpoints) {
    // If the key exists in the map
    @if map-has-key($breakpoints, $breakpoint) {
        // Prints a media query based on the value
        @media (max-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    }

    // If the key doesn't exist in the map
    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
}

/*********************************************/
/*************** CUSTOM MIXINS  *************/
/********************************************/

@mixin vertical-align($position: relative) {
    position: $position;
    top: 50%;
    transform: translateY(-50%);
}
@mixin horizontal-align($position: relative) {
    position: $position;
    left: 50%;
    transform: translateX(-50%);
}

@mixin double-align($position: relative) {
    position: $position;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin font-size($sizeValue: 1.6) {
    font-size: ($sizeValue * 10) + px;
    font-size: $sizeValue + rem;
}

@mixin font(
    $sizeValue: 1.6,
    $color: false,
    $fontWeight: false,
    $fontFamily: false,
    $fontStyle: false,
    $lineHeight: false
) {
    font-size: ($sizeValue * 10) + px;
    font-size: $sizeValue + rem;

    @if $color {
        color: $color;
    }

    @if $fontFamily {
        font-family: $fontFamily;
    }

    @if $fontWeight {
        font-weight: $fontWeight;
    }

    @if $fontStyle {
        font-style: $fontStyle;
    }

    @if $lineHeight {
        line-height: $lineHeight;
    }
}

@mixin gradient-horizontal(
    $start-color: #555,
    $end-color: #333,
    $start-percent: 0%,
    $end-percent: 100%
) {
    background-image: -webkit-linear-gradient(
        left,
        $start-color $start-percent,
        $end-color $end-percent
    ); // Safari 5.1-6, Chrome 10+
    background-image: -o-linear-gradient(
        left,
        $start-color $start-percent,
        $end-color $end-percent
    ); // Opera 12
    background-image: linear-gradient(
        to right,
        $start-color $start-percent,
        $end-color $end-percent
    ); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=1); // IE9 and down
}

@mixin gradient-horizontal-toright(
    $start-color: #555,
    $end-color: #333,
    $start-percent: 0%,
    $end-percent: 100%
) {
    background-image: -webkit-linear-gradient(
        right,
        $start-color $start-percent,
        $end-color $end-percent
    ); // Safari 5.1-6, Chrome 10+
    background-image: -o-linear-gradient(
        right,
        $start-color $start-percent,
        $end-color $end-percent
    ); // Opera 12
    background-image: linear-gradient(
        to left,
        $start-color $start-percent,
        $end-color $end-percent
    ); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
    background-repeat: repeat-x;
}

// Vertical gradient, from top to bottom
//
@mixin gradient-vertical(
    $start-color: #555,
    $end-color: #333,
    $start-percent: 0%,
    $end-percent: 100%
) {
    background-image: -webkit-linear-gradient(
        top,
        $start-color $start-percent,
        $end-color $end-percent
    ); // Safari 5.1-6, Chrome 10+
    background-image: -o-linear-gradient(
        top,
        $start-color $start-percent,
        $end-color $end-percent
    ); // Opera 12
    background-image: linear-gradient(
        to bottom,
        $start-color $start-percent,
        $end-color $end-percent
    ); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down
}

// Vertical gradient, from bottom to top
//
@mixin gradient-bottom-to-top(
    $start-color: #555,
    $end-color: #333,
    $start-percent: 0%,
    $end-percent: 100%
) {
    background-image: -webkit-linear-gradient(
        bottom,
        $start-color $start-percent,
        $end-color $end-percent
    ); // Safari 5.1-6, Chrome 10+
    background-image: -o-linear-gradient(
        bottom,
        $start-color $start-percent,
        $end-color $end-percent
    ); // Opera 12
    background-image: linear-gradient(
        to top,
        $start-color $start-percent,
        $end-color $end-percent
    ); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down
}

@mixin gradient-directional($start-color: #555, $end-color: #333, $deg: 45deg) {
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(
        $deg,
        $start-color,
        $end-color
    ); // Safari 5.1-6, Chrome 10+
    background-image: -o-linear-gradient(
        $deg,
        $start-color,
        $end-color
    ); // Opera 12
    background-image: linear-gradient(
        $deg,
        $start-color,
        $end-color
    ); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
}
@mixin gradient-radial($inner-color: #555, $outer-color: #333) {
    background-image: -webkit-radial-gradient(
        circle,
        $inner-color,
        $outer-color
    );
    background-image: radial-gradient(circle, $inner-color, $outer-color);
    background-repeat: no-repeat;
}
@mixin gradient-striped($color: rgba(255, 255, 255, 0.15), $angle: 45deg) {
    background-image: -webkit-linear-gradient(
        $angle,
        $color 25%,
        transparent 25%,
        transparent 50%,
        $color 50%,
        $color 75%,
        transparent 75%,
        transparent
    );
    background-image: -o-linear-gradient(
        $angle,
        $color 25%,
        transparent 25%,
        transparent 50%,
        $color 50%,
        $color 75%,
        transparent 75%,
        transparent
    );
    background-image: linear-gradient(
        $angle,
        $color 25%,
        transparent 25%,
        transparent 50%,
        $color 50%,
        $color 75%,
        transparent 75%,
        transparent
    );
}
